PORT={porta para executar o backend}
DATABASE_URL={conexão com o banco de dados}
OLLAMA_URL={conexão com o ollama para rodar a classificação de temas}
OLLAMA_MODEL={modelo do ollama para a classificação}